.top-sticky{
    position: sticky;
    background-color: white;
    top: 0;
}

.user-details{
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.user{
    display: block;
}

.button-click button{
    cursor: pointer;
    border-radius: 10px;
}

.edit{
    background-color: orange;
}

.navigation ul{
    list-style-type: none;
    align-items: center;
    margin-bottom: 0px;
}

.navigation  ul li{
    display: inline;
    margin: 10px;
    padding: 2px;
}

.navigation ul li a{
    color: white;
    text-decoration: none;
}

.personal-information{
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ussage-details{
    width: 55%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.project-list{
    margin-right: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.skill-set{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.effi{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.doc{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.upload, .download, .download-all-doc{
    border-radius: 13px;
    background-color: orange;
}

.terms-sec{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}